on boot
    # Fingerprint
    chown system system /sys/devices/platform/soc/soc:goodix_fp/proximity_state

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

on boot && property:persist.sys.usb.config=*
    setprop sys.usb.config ${persist.sys.usb.config}

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service cvphalservice /system/bin/true
    disabled

service factory-hal-1-0 /system/bin/true
    disabled

service oneplus_brain_service /system/bin/true
    disabled

on property:ro.boot.rf_version=*
    setprop vendor.rf.version ${ro.boot.rf_version}

# Logcat Services
service boot_log /system/bin/logcat -b all -D -f /cache/boot_log_full.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_log_crash /system/bin/logcat -b crash -D -f /cache/boot_log_crash.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_log_kernel /system/bin/logcat -b kernel -D -f /cache/boot_log_kernel.txt
    class main
    user root
    group root system
    disabled
    oneshot

on post-fs-data
# Clear existing log and start the service
    rm /cache/boot_log_full.txt
    rm /cache/boot_log_crash.txt
    rm /cache/boot_log_kernel.txt
    start boot_log
    start boot_log_crash
    start boot_log_kernel

on property:sys.boot_completed=1
# Stop the logger service
    stop boot_log
    stop boot_log_crash
    stop boot_log_kernel
