<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="android.overlay.warp"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.product.frameworks.haswarp"
                android:requiredSystemPropertyValue="true"
		android:priority="800"
		android:isStatic="true" />
</manifest>
